
div {
    white-space: pre-wrap;
}



/* JetBrains Mono as font */

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* GLOBAL STYLES */
body {
    height: 100%;
    padding-top: 45vh;
    margin: 0;
    display: flex;
    justify-content: center;
}


.martian-mono-normal {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    display: flex;
    
    font-family: 'Martian Mono';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .14em; /* Adjust as needed */
    position: relative;

    animation: 
        typing 1s steps(12),
        blink-caret 0.7s step-end infinite;
        /* jahrei-text-blur 1s 1.5s forwards ease;
        jahrei-logo-unblur 1s 3s forwards ease; */
    }
  


    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white }
    }

    @keyframes jahrei-text-blur {
        from {filter:blur(0.0px)}
        to {filter:blur(100px)}
    }

    @keyframes jahrei-logo-unblur {
        from {
            filter:blur(100px)
        }
        to {
            filter:blur(0px)
        }
    }

    /* i need to add the logo png, center it, then make it disabled and then unblur after the typing text blurs */


.bg-grad {
    background-image: linear-gradient(45deg, black, #0f0f0f) ;
    background-attachment: fixed;
    width: auto;
    height: 100%;
}